.__header {
    width: 100%;
    min-height: 122px;
    display: flex;

    background: white;
}
.logo_header {
    display: flex;
    text-align: center;
    align-items: center;
}
.logo_content {
    max-width: 166px;
    max-height: 83px;
}
.search_and_navigation {
    padding-top: 40px;
    display: block;
    text-align: end;
}
.search {
    display: inline;
}
.search_input {
    min-width: 290px;
    max-width: 350px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    padding-bottom: 8px;
}
.search_button {
    background: white;
    border: none;
    border-color: white;
    margin-left: -20px;
}
.navigation {
    margin-top: 20px;
}
.navigation_content{
    display: flex;
    list-style: none;
}
